.navbar-brand{
  font-size: xx-large;
}
.bg-dark{
  background-color: rgb(153,153,153) !important;
}
p.menu-heading{
  margin: 0px;
}
.menu-heading{
  padding: 20px 0px;
  font-size: xx-large;
}
div.col-xs-12{
  margin: 20px;
  padding: 10px 50px;
  background-color: rgb(153,153,153);
}
.dish-name{
  font-size: 150%;
  text-align: center;
}
.dish-recipe{
  text-align: justify;
}
@media screen and (min-width:768px){
  .navbar-toggler{
    display: none;
  }
